main {
  .resumo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px 0 0;

    h3 {
      color: var(--gray-200);
      text-transform: uppercase;
      font-weight: 500;
    }
    span {
      font-size: 40px;
      font-weight: 600;
    }
    p {
      color: var(--orange);
      font-size: 30px;
    }
    &__superfilm {
      display: flex;
      gap: 5px;
      img {
        width: 30px;
        height: 30px;
        margin-top: 3px;
      }
    }
  }

  .sobre {
    display: flex;
    gap: 20px;
    padding: 40px 120px;

    &__texts {
      width: 50%;
      h3 {
        color: var(--orange);
        font-size: 28px;
        margin-bottom: 10px;
      }

      h4 {
        color: var(--gray-200);
        margin-bottom: 10px;
        font-weight: 500;
      }

      p {
        margin-bottom: 20px;
        color: var(--black-100);
      }
    }

    figure {
      width: 50%;
      margin-top: 50px;

      img {
        border-radius: 20px;
        border: 2px solid gray;
        width: 100%;
      }
    }
  }

  .duvidas {
    background-color: var(--orange);
    padding: 40px 120px;

    p {
      color: var(--black-100);
    }

    &__container {
      background-color: whitesmoke;
      border-radius: 18px;
      padding: 20px 16px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      h3 {
        color: var(--orange);
      }

      h4 {
        color: var(--gray-200);
        font-size: 24px;
      }

      &__opcoes {
        display: flex;
        gap: 20px;
        flex-direction: column;
        margin-top: 20px;

        &__cima,
        &__baixo {
          display: flex;
          gap: 20px;
          justify-content: center;

          div {
            border: 3px solid var(--gray-100);
            border-radius: 20px;
            padding: 10px;
            width: 30%;
            text-align: center;

            h5 {
              color: var(--orange);
              font-size: 20px;
              margin-bottom: 5px;
            }
          }
        }
      }
    }
  }
}
