.header {
  background-image: url("../imgs/pelicula-dark.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 1px;

  @media screen and (max-width: 1024px) {
    background-image: url("../imgs/pelicula-dark-mobile.jpeg");
    height: 650px;
  }

  nav {
    width: 100%;
    padding: 14px 120px;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @media screen and (max-width: 1024px) {
      padding: 16px;
    }

    @media screen and (max-width: 600px) {
      /*justify-content: center;*/
    }

    figure {
      display: flex;
      align-items: center;

      img {
        width: 180px;

        @media screen and (max-width: 1024px) {
          width: 140px;
        }
      }
    }

    ul {
      display: flex;
      gap: 30px;

      @media screen and (max-width: 1024px) {
        display: none;
      }

      li {
        padding: 5px 0;

        &:hover {
          border-bottom: 3px solid var(--orange);
          padding-bottom: 2px;
        }
      }
    }
  }

  &__texts {
    width: 50%;
    margin: 180px 120px 100px;

    @media screen and (max-width: 1024px) {
      margin: 75px 0 20px;
      padding: 20px;
      width: 100%;
    }

    &__fechado {
      width: max-content;
      margin-bottom: 20px;
      padding: 15px;
      background-color: white;
      color: red;
      font-size: 18px;
    }

    h1 {
      color: white;
      font-size: 54px;

      @media screen and (max-width: 1024px) {
        font-size: 28px;
        margin-bottom: 15px;
        margin-top: 20px;
      }
    }

    &__segundo {
      color: var(--gray-300);
      text-transform: uppercase;

      @media screen and (max-width: 1024px) {
        font-size: 20px;
      }
    }

    &__terceiro {
      color: var(--gray-300);
      text-transform: uppercase;

      @media screen and (max-width: 1024px) {
        margin-top: 3px;
        font-size: 18px;
      }
    }

    a {
      display: block;
      border: 1px solid whitesmoke;
      width: max-content;
      border-radius: 4px;
      padding: 5px 10px;
      margin-top: 10px;
      font-size: 22px;

      &:hover {
        background-color: whitesmoke;
        color: black;
      }

      @media screen and (max-width: 1024px) {
        margin-top: 20px;
      }
    }

    &__cartaolocal {

      display: block;
      align-items: center;
      margin-top: 70px;
      gap: 10px;



      &__cartao {
        color: var(--black-100);
        background-color: white;
        font-size: 18px;
        display: flex;
        align-items: center;
        border-radius: 12px;
        max-width: max-content;
        padding: 0px 15px 0px 10px;
        margin-bottom: 10px;

        @media screen and (max-width: 1024px) {

          justify-content: center;
          padding: 0px 7px;
          font-size: 16px;

        }

        img {
          margin-right: 5px;
          width: 40px;
        }

        strong {

          margin: 5px;
        }
      }

      &__local {
        background-color: white;
        color: var(--black-100);
        max-width: max-content;
        padding: 0px 15px 0px 10px;
        border-radius: 12px;
        font-size: 18px;
        display: flex;
        align-items: center;

        @media screen and (max-width: 1024px) {

          justify-content: center;
          padding: 0px 7px;
          font-size: 16px;

        }

        img {
          margin-right: 8px;
          width: 35px;
        }
      }

    }
  }
}